
body {

	font-family: "liberation sans", "Myriad ", "Bitstream Vera Sans","Lucida Grande", verdana, "Luxi Sans","Trebuchet MS", helvetica,verdana,arial,sans-serif;
	font-size: 12px;
	line-height: 150%;
}

main {

	padding-top: 1em;
	padding-bottom: 1em;

	border-top: 2px dotted;
	border-bottom: 2px dotted;
}

header {

	margin-bottom: 15px;
}

footer {

	margin-top: 10px;
	text-align: center;
}

article h2 {

	font-weight: bold;
	font-size: 12px;

	margin-bottom: 10px;
}

a {

	text-decoration: none;
	outline: none;
	overflow: hidden;

	color: #cc0001;
}

a:hover {

	text-decoration: none;
	outline: none;
	overflow: hidden;
}

a:active {

	text-decoration: none;
	outline: none;
	overflow: hidden;
}

a:visited {

	text-decoration: none;
	outline: none;
	overflow: hidden;
}

.title {

	font-size: 20px;
	color: #cc0001;
	font-weight: bold;
	margin-bottom: 10px;
	display: inline;
}

.subtitle {

	display: inline;
	padding-left: 15px;
}

#page {

	margin: 0 auto;
	width: 650px;
	padding-top: 60px;
}
